name: ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
    matrix:
      os:[ubuntu-latest, macos-latest]
      python-version:['3.11']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 black pytest

      - name: Run linters
        run: |
          flake8 src/ tests/
          black --check src/ tests/

      - name: Run tests
        run: pytest -q
